
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../../styles/html.css">
</head>
<body>
    <div class="heading--large text-gradient">Code Editor Guide</div>
    <main class="features">
        <section class="feature">
            <h3 class="heading"><span class="feature__icon">📝</span> <span class="text-gradient">Basic Operations</span></h3>
            <ul class="custom-list">
                <li class="custom-list__item">Create new files using the "New File" button</li>
                <li class="custom-list__item">Open existing files with "Open File"</li>
                <li class="custom-list__item">Save your work using Ctrl+S or the "Save" button</li>
                <li class="custom-list__item">Multiple files can be managed using tabs</li>
            </ul>
        </section>

        <section class="feature">
            <h3 class="heading"><span class="feature__icon">🤖</span> <span class="text-gradient">AI Features</span></h3>
            <ul class="custom-list">
                <li class="custom-list__item">Explain: Get detailed explanation of selected code</li>
                <li class="custom-list__item">Fix: Get suggestions for code improvements</li>
                <li class="custom-list__item">Optimize: Receive optimization recommendations</li>
                <li class="custom-list__item">Document: Generate code documentation</li>
            </ul>
        </section>

        <section class="feature">
            <h3 class="heading"><span class="feature__icon">⚡</span> <span class="text-gradient">Shortcuts</span></h3>
            <ul class="custom-list">
                <li class="custom-list__item">Ctrl+N: New File</li>
                <li class="custom-list__item">Ctrl+O: Open File</li>
                <li class="custom-list__item">Ctrl+S: Save</li>
                <li class="custom-list__item">Ctrl+F: Find</li>
                <li class="custom-list__item">F5: Run Code</li>
            </ul>
        </section>
    </main>
</body>
</html>